<hello name="{{ name }}"></hello>
<div class="clock">
  <div class="point-time">
    <div *ngFor="let h of hoursPoints" [id]="'h' + h">
      <div *ngIf="h % 3; else block">&#x2501;</div>
      <ng-template #block>
        <div class='number'>{{h}}</div>
      </ng-template>
    </div>
  </div>
  
  <div id="h-keeper-shadow" [style.transform]="'rotate(' + degreeOfHour + 'deg)'">
  </div>
  <div id="h-keeper" [style.transform]="'rotate(' + degreeOfHour + 'deg)'">
  </div>
  <div id="m-keeper-shadow" [style.transform]="'rotate(' + degreeOfMinute + 'deg)'">
  </div>
  <div id="m-keeper" [style.transform]="'rotate(' + degreeOfMinute + 'deg)'">
  </div>
  <div id="s-keeper-shadow" [style.transform]="'rotate(' + degreeOfSecond + 'deg)'">
  </div>
  <div id="s-keeper" [style.transform]="'rotate(' + degreeOfSecond + 'deg)'">
  </div>
  <div class="circle"></div>
</div>

<div>{{t}}</div>