<hello name="{{ name }}"></hello>
<div class="clock">
  <div class="point-time">
    <div *ngFor="let h of hoursPoints" [id]="'h' + h">
      <div *ngIf="h % 3; else block">&#x2501;</div>
      <ng-template #block>
        <div class='number'>{{h}}</div>
      </ng-template>
    </div>
  </div>
  <div id="hr" [style.transform]="'rotate(' + degreeOfHour + 'deg)'">
    <div id="h-keeper"></div>
    <div id="h-keeper-shadow"></div>
  </div>
  <div id="mm" [style.transform]="'rotate(' + degreeOfMinute + 'deg)'">
    <div id="m-keeper"></div>
    <div id="m-keeper-shadow"></div>
  </div>
  <div id="ss" [style.transform]="'rotate(' + degreeOfSecond + 'deg)'">
    <div id="s-keeper"></div>
    <div id="s-keeper-shadow"></div>
  </div>
  <div class="circle"></div>
</div>

<div>{{t}}</div>